[submodule "src/3rdparty/Csocket"]
	path = src/3rdparty/Csocket
	url = https://github.com/jpnurmi/Csocket.git
[submodule "src/3rdparty/sha2"]
	path = src/3rdparty/sha2
	url = https://github.com/ogay/sha2.git
